
<ion-view view-title="Kyc Edit-NP">

    <ion-content>

    <div>
        <!--<div class="row">-->
            <!--<div class="col-33">Spare Parts</div>   <div class="col"> {{kyc_lists[0].industry}}</div>-->
        <!--</div>-->

        <div class="row">
            <div class="col-33">  Uploaded</div>   <div class="col" ng-hide="editorEnabled"> <b> {{kyc_lists[0].uploaded}}</b></div>

        </div>
        <div class="row">
            <div class="col-33">  Approval</div>   <div class="col" ng-hide="editorEnabled"> <b> {{kyc_lists[0].approval_status}}</b></div>

        </div>
        <div class="row">
            <div class="col-33">  Reject Reason </div>   <div class="col" ng-hide="editorEnabled"> <b> {{kyc_lists[0].reject_reason}}</b></div>

        </div>
        <div class="row">
            <div class="col-33">  Reject Remarks</div>   <div class="col" ng-hide="editorEnabled"> <b> {{kyc_lists[0].reject_remarks}}</b></div>

        </div>
        <div class="row">
            <div class="col-33">F.E. Code </div>   <div class="col" ng-hide="editorEnabled"> <b> {{kyc_lists[0].fe_code}}</b></div>

        </div>
        <!--<div class="row">-->
            <!--<div class="col-33">Existing Ref No </div>   <div class="col" ng-hide="editorEnabled"> <b> {{kyc_lists[0].existing_ref_no}}</b></div>-->

        <!--</div>-->
        <div class="row">
            <div class="col-33">  Id </div>   <div class="col" ng-hide="editorEnabled"> <b> {{kyc_lists[0].row_id}}</b></div>

        </div>
        <!--<div class="row">-->
            <!--<div class="col-33">  Form Number </div>   <div class="col" ng-hide="editorEnabled">   <b> {{kyc_lists[0].form_no}}</b></div>-->

        <!--</div>-->
        <div class="row">
            <div class="col-33">  Owner Name </div>   <div class="col" ng-hide="editorEnabled">   <b> {{kyc_lists[0].owner_name}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].owner_name" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row">
            <div class="col-33"> Shop Name</div>   <div class="col" ng-hide="editorEnabled">   <b>{{kyc_lists[0].bussiness_name}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].bussiness_name" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row">
            <div class="col-33"> Address: </h2> </div>   <div class="col" ng-hide="editorEnabled">   <b>{{kyc_lists[0].building_name}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].building_name" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row" >
            <div class="col-33"> Landmark </div>   <div class="col" ng-hide="editorEnabled">   <b> {{kyc_lists[0].landmark}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].landmark" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row">
            <div class="col-33"> State</div>   <div class="col" ng-hide="editorEnabled">   <b> {{kyc_lists[0].state}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].state" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row" >
            <div class="col-33"> District</div>   <div class="col" ng-hide="editorEnabled">   <b> {{kyc_lists[0].district}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].district" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row">
            <div class="col-33"> City</div>   <div class="col" ng-hide="editorEnabled">   <b>{{kyc_lists[0].city}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].city" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row" >
            <div class="col-33"> Area</div>   <div class="col" ng-hide="editorEnabled">   <b>{{kyc_lists[0].area}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].area" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row" >
            <div class="col-33"> Pincode </div>   <div class="col" ng-hide="editorEnabled">   <b>{{kyc_lists[0].pincode}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].pincode" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row">
            <div class="col-33"> Mobile 1 </div>   <div class="col" ng-hide="editorEnabled">   <b>{{kyc_lists[0].mobile_1}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].mobile_1" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row" >
            <div class="col-33"> Mobile 2</div>   <div class="col" ng-hide="editorEnabled">   <b>{{kyc_lists[0].mobile_2}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].mobile_2" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row" >
            <div class="col-33"> landline</div>   <div class="col" ng-hide="editorEnabled">   <b>{{kyc_lists[0].landline}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].landline" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row">
            <div class="col-33"> email</div>   <div class="col" ng-hide="editorEnabled">   <b>  {{kyc_lists[0].email}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].email" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row" >
            <div class="col-33"> Shop Size </div>   <div class="col" ng-hide="editorEnabled">   <b> {{kyc_lists[0].shop_size}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].shop_size" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row" >
            <div class="col-33"> TIN </div>   <div class="col" ng-hide="editorEnabled">   <b> {{kyc_lists[0].tin}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].tin" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row" >
            <div class="col-33"> Date Of Birth </div>   <div class="col" ng-hide="editorEnabled">   <b> {{kyc_lists[0].dob | date:'MM/dd/yyyy'}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].dob" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row" >
            <div class="col-33"> Smartphone </div>   <div class="col" ng-hide="editorEnabled">   <b> {{kyc_lists[0].smartphone}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].smartphone" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row">
            <div class="col-33">Brands</div>   <div class="col"> {{kyc_lists[0].brands}}</div>
        </div>
        <div class="row" >
            <div class="col-33"> Competition  Brands</div>   <div class="col" ng-hide="editorEnabled">   <b> {{kyc_lists[0].competition}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].competition" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row" >
            <div class="col-33"> Remarks </div>   <div class="col" ng-hide="editorEnabled">   <b> {{kyc_lists[0].website}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].website" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row" >
            <div class="col-33">Business Type </div>   <div class="col" ng-hide="editorEnabled">   <b> {{kyc_lists[0].business_type}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].website" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row" >
            <div class="col-33">Relaxo Branding Present  </div>   <div class="col" ng-hide="editorEnabled">   <b> {{kyc_lists[0].relaxo_brand_present}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].website" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row" >
            <div class="col-33"> Competitive Brand Present  </div>   <div class="col" ng-hide="editorEnabled">   <b> {{kyc_lists[0].competitive_brand_present}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].website" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row" >
            <div class="col-33"> Competition In-Store Present</div>   <div class="col" ng-hide="editorEnabled">   <b> {{kyc_lists[0].competition_instore_present}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].website" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row" >
            <div class="col-33">Salesman Count </div>   <div class="col" ng-hide="editorEnabled">   <b> {{kyc_lists[0].salesman_count}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].website" ng-show="editorEnabled">
            </div>
        </div>

        <div class="row" >
            <div class="col-33">Interested SellRelaxoProd </div>   <div class="col" ng-hide="editorEnabled">   <b> {{kyc_lists[0].intSellRelaxoProd}}</b></div>
            <div class="col" ng-show="editorEnabled">
                <input class="kyc kyc-input" ng-model="kyc_lists[0].intSellRelaxoProd" ng-show="editorEnabled">
            </div>
        </div>
        <div class="row">
            <div class="col-50">
                <button class="button icon  button-block  button-outline button-calm" ng-click="enableEditor()"> Edit Records </button>
            </div>

            <div class="col-50">
                <button class="button icon  button-block  button-outline button-calm" ng-click="save(kyc_lists[0])"> Save Records </button>
            </div>
        </div>
    </div>
        <br>
        <div></div>
        <br>
        <div></div>


    <!--<form  name="Kyc_form" class="list" novalidate="" ng-submit="SaveFormData(kyc,Kyc_form)">-->
    <!--<label class="item item-input item-select" style="line-height: 47px!important;" name="Pincode" ng-class="{ 'has-errors' : Kyc_form.pincode.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.pincode.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label"  style="color: grey !important;  height:60px;">Pincode</span>-->
        <!--<select data-ng-model="kyc.pincode" ng-change="BindArea(kyc.pincode)">-->
            <!--<option value="" selected>Select</option>-->
            <!--<option ng-repeat="pin in UserAllocation_lists" value="{{pin.pincode}}">-->
                <!--{{pin.pincode}}-->
            <!--</option>-->
        <!--</select>-->
    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.pincode.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.pincode.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->
    <!--<label class="item item-input item-select" style="line-height: 47px!important;" name="gpo" ng-class="{ 'has-errors' : Kyc_form.area.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.area.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label" style="color: grey !important;  height:60px;">Post Office</span>-->
        <!--<select data-ng-model="kyc_lists[0].area" ng-options="x.area for x in Arealist" ng-change="populatetext()">-->
            <!--<option value="" selected>Select</option>-->
        <!--</select>-->
    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.area.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.area.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->
    <!--<label class="item item-input item-floating-label" name="State" ng-class="{ 'has-errors' : Kyc_form.state.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.state.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label">State</span>-->
        <!--<input type="text"   name="state" data-ng-model="kyc_lists[0].state" required placeholder="State">-->

    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.state.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.state.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->
    <!--<label class="item item-input item-floating-label" name="district" ng-class="{ 'has-errors' : Kyc_form.district.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.district.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label">District</span>-->
        <!--<input type="text"  name="district"  data-ng-model="kyc_lists[0].district" required placeholder="District">-->

    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.district.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.district.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->
    <!--<label class="item item-input item-floating-label" name="City" ng-class="{ 'has-errors' : Kyc_form.city.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.city.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label">City</span>-->
        <!--<input type="text"  name="city"   data-ng-model="kyc_lists[0].city" required placeholder="City">-->
    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.city.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.city.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->
    <!--<label class="item item-input item-floating-label item-floating-label" name="form_no" ng-class="{ 'has-errors' : Kyc_form.form_no.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.form_no.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label">Form No. </span>-->
        <!--<input type="number"  name="form_no" data-ng-model="kyc_lists[0].form_no"  ng-minlength="1"   required  placeholder="Form Number">-->
    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.form_no.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.form_no.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->
    <!--<label class="item item-input item-floating-label item-floating-label" name="Owner_Name" ng-class="{ 'has-errors' : Kyc_form.owner_name.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.owner_name.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label">Owner Name</span>-->
        <!--<input type="text"  name="owner_name" data-ng-model="kyc_lists[0].owner_name"  ng-minlength="3" required  placeholder="Owner Name">-->
    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.owner_name.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.owner_name.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->
    <!--<label class="item item-input item-floating-label item-floating-label" name="Business_Name" ng-class="{ 'has-errors' : Kyc_form.business_name.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.business_name.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label">Business Name </span>-->
        <!--<input type="text"  name="business_name" data-ng-model="kyc_lists[0].bussiness_name" required placeholder="Business Name">-->
    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.business_name.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.business_name.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->
    <!--<label class="item item-input item-floating-label item-floating-label" name="Building_Name" ng-class="{ 'has-errors' : Kyc_form.building_name.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.building_name.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label">Address </span>-->
        <!--<input type="text" name="building_name" data-ng-model="kyc_lists[0].building_name"   required placeholder="Address">-->
    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.building_name.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.building_name.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->

    <!--<label class="item item-input item-floating-label" name="Landmark" ng-class="{ 'has-errors' : Kyc_form.landmark.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.landmark.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label">Landmark</span>-->
        <!--<input type="text" name="landmark" data-ng-model="kyc_lists[0].landmark" required placeholder="Landmark">-->
    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.landmark.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.landmark.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->
    <!--<label class="item item-input item-floating-label" name="area2" ng-class="{ 'has-errors' : Kyc_form.area2.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.area2.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label">Area</span>-->
        <!--<input type="text" name="area2" data-ng-model="kyc_lists[0].area2" required placeholder="Area">-->
    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.landmark.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.landmark.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->
    <!--<label class="item item-input item-floating-label" name="Mobile1" ng-class="{ 'has-errors' : Kyc_form.mobile1.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.mobile1.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label">Mobile 1</span>-->
        <!--<input type="number"  name="mobile1" data-ng-model="kyc_lists[0].Mobile1" ng-minlength="10" ng-maxlength="12"  required placeholder="Mobile no. 1">-->
    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.mobile1.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.mobile1.$error">-->
        <!--<div ng-messages-include="error1-list.html"></div>-->
    <!--</div>-->
    <!--<label class="item item-input item-floating-label" name="Mobile2" ng-class="{ 'has-errors' : Kyc_form.mobile2.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.mobile2.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label">Mobile 2</span>-->
        <!--<input type="number"  name="mobile2" data-ng-model="kyc_lists[0].Mobile2"  placeholder="Mobile no. 2">-->
    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.mobile2.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.mobile2.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->
    <!--<label class="item item-input item-floating-label" name="landline" ng-class="{ 'has-errors' : Kyc_form.landline.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.landline.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label">Landline</span>-->
        <!--<input type="number" name="landline"  data-ng-model="kyc_lists[0].landline"  placeholder="Landline">-->
    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.landline.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.landline.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->
    <!--<label class="item item-input item-floating-label" name="Email" ng-class="{ 'has-errors' : Kyc_form.email.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.email.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label">Business Email</span>-->
        <!--<input type="email"  name="email" data-ng-model="kyc_lists[0].Email" placeholder="Business Email">-->
    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.email.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.email.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->
    <!--<label class="item item-input" style="border: none !important; border-top: 1px solid #dddddd !important; line-height: 47px;" ng-class="{ 'has-errors' : Kyc_form.dob.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.dob.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label" style="color: grey !important;">Date Of Birth</span>-->
        <!--<input class="input-label"   type="date" name="dob" data-ng-model="kyc_lists[0].dob" >-->
    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.dob.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.dob.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->

    <!--<label class="item item-input item-floating-label" name="Shop Size" ng-class="{ 'has-errors' : Kyc_form.shop_size.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.shop_size.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label">Shop Size(Sq Feet)</span>-->
        <!--<input type="number"  name="shop_size" data-ng-model="kyc_lists[0].shop_size" required placeholder="Shop Size(Sq Feet)">-->
    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.shop_size.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.shop_size.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->
    <!--<label class="item item-input item-select" style="line-height: 47px!important;" name="Website" ng-class="{ 'has-errors' : Kyc_form.website.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.website.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label"  style="color: grey !important;  height:60px;">Smartphone</span>-->
        <!--<select data-ng-model="kyc_lists[0].smartphone">-->
            <!--<option value="" selected>Select</option>-->
            <!--<option value="Android" >Android</option>-->
            <!--<option value="Iphone" >Iphone</option>-->
            <!--<option value="Windows">Windows</option>-->
            <!--<option value="Not Applicable">Not Applicable</option>-->
        <!--</select>-->
    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.website.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.website.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->
    <!--<label class="item item-input item-floating-label" name="Website" ng-class="{ 'has-errors' : Kyc_form.website.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.website.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label">Competition</span>-->
        <!--<input type="text"  name="website" data-ng-model="kyc_lists[0].competition"  placeholder="Competition">-->
    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.website.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.website.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->

    <!--<label class="item item-input item-floating-label" name="Website" ng-class="{ 'has-errors' : Kyc_form.website.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.website.$valid  && Kyc_form.$submitted}">-->
        <!--<span class="input-label">Remarks</span>-->
        <!--<input type="text"  name="website" data-ng-model="kyc_lists[0].Website"  placeholder="Remarks">-->
    <!--</label>-->
    <!--<div class="error-container" ng-show="Kyc_form.website.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.website.$error">-->
        <!--<div ng-messages-include="error-list.html"></div>-->
    <!--</div>-->
    <!--<h3>&nbsp; &nbsp;Select Vehicles They Deal In</h3>-->
    <!--<div class="row">-->
        <!--<div class="col col-30"> <ion-checkbox data-ng-model="kyc_lists[0].Petrol">Petrol</ion-checkbox></div>   <div class="col">  <ion-checkbox data-ng-model="kyc.Diesel">Diesel</ion-checkbox></div>-->
    <!--</div>-->
    <!--<h3>&nbsp; &nbsp; Type of Vehicles</h3>-->
    <!--<div class="row">-->
        <!--<div class="col">   <ion-checkbox data-ng-model="kyc.s1">Light Commercial Vehicles</ion-checkbox></div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col">  <ion-checkbox data-ng-model="kyc.s2">Heavy Duty Vehicles</ion-checkbox></div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col col-30">   <ion-checkbox data-ng-model="kyc.s3">Multi Utility Vehicle</ion-checkbox></div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col">   <ion-checkbox data-ng-model="kyc.s4">Sports Bikes</ion-checkbox></div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col col-30">  <ion-checkbox data-ng-model="kyc.s5">Tractors</ion-checkbox></div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col col-30">  <ion-checkbox data-ng-model="kyc.s6">Sports Utility Vehicle</ion-checkbox></div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col col-30">  <ion-checkbox data-ng-model="kyc.s7">Industrial Component</ion-checkbox></div>-->
    <!--</div>-->

    <!--<button type='button' class="button icon ion-android-camera  button-block  button-outline button-positive" ng-click="takePhotoShop()"> Take Shop Board Picture</button>-->
    <!--<div class="list card">-->
        <!--<div class=" item item-image">-->
            <!--<img ng-show="BoardImage !== undefined" ng-src="{{BoardImage}}" style="text-align: center">-->
        <!--</div>-->
    <!--</div>-->
    <!--<br>-->
    <!--<button type='button' class="button icon ion-android-camera  button-block  button-outline button-positive" ng-click="takePhotoShopInside()"> Take Shop Inside  Picture</button>-->
    <!--<div class="list card">-->
        <!--<div class=" item item-image">-->
            <!--<img ng-show="ShopInside !== undefined" ng-src="{{ShopInside}}" style="text-align: center">-->
        <!--</div>-->
    <!--</div>-->
    <!--<br>-->
    <!--<button type='button' class="button icon ion-android-camera  button-block  button-outline button-positive" ng-click="takePhotoOwnerId()"> Take Owner ID Picture</button>-->
    <!--<div class="list card">-->
        <!--<div class=" item item-image">-->
            <!--<img ng-show="OwnerId !== undefined" ng-src="{{OwnerId}}" style="text-align: center">-->
        <!--</div>-->
    <!--</div>-->
    <!--<br>-->
    <!--<button class="button  button-block  button-outline button-positive" type="submit">Save Record</button>-->
    <!--<br>-->
    <!--<div class="row"></div>-->
    <!--</form>-->
    </ion-content>
</ion-view>
