<ion-view view-title="Sign-In" name="login-view">
  <ion-content class="padding">
      <div>
          <h2> Relaxo GV NP <h2>
      </div>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login(data)">Login</button>
  </ion-content>
</ion-view>
