<ion-view view-title="Kyc View">
<ion-nav-title>Kyc View   Welcome {{user_name}} - NP</ion-nav-title>
      <ion-content >
          <div class="row row-center" style="padding-top: 0px !important;padding-bottom: 0px !important;">
           <h4>Total KYC Count : <b> {{kyc_lists_count}}</b></h4>
          </div>
          <div class="bar bar-header item-input-inset">
              <label class="item-input-wrapper">
                  <i class="ion-android-search placeholder-icon"></i>
                  <input type="search"  ng-model="searchText" placeholder="Search">
              </label>
              <button class="button button-clear" ng-click="searchText = undefined">
                  Cancel
              </button>

          </div>
          <div class="row" style="padding-top: 0px ! important;padding-bottom: 0px ! important;">
              <div ng-show="(kyc_lists |filter:searchText).length >0 && searchText != undefined && searchText != '' " class="col"> {{(kyc_lists |filter:searchText).length}} Result found</div>
          </div>

          <ion-list >

              <ion-item collection-repeat="item in kyc_lists | filter:searchText">

          <div style="border:2px solid #576966">
              <div class="row">
                  <div class="col col-33" > <h2> Uploaded:</h2> </div>   <div class="col"> {{item.uploaded}}</div>
              </div>
              <div class="row">
                  <div class="col col-33" > <h2> Approval:</h2> </div>   <div class="col"> {{item.approval_status}}</div>
              </div>
              <div class="row">
                  <div class="col col-33"> <h2>F.E. Code </h2> </div>   <div class="col">{{item.fe_code}}</div>
              </div>
              <div class="row">
                   <div class="col col-33"> <h2> Owner Name</h2> </div>   <div class="col">{{item.owner_name}}</div>
              </div>
              <div class="row">
                  <div class="col col-33"> <h2>Shop Name</h2> </div>   <div class="col">{{item.bussiness_name}}</div>
              </div>
              <div class="row">
                  <div class="col col-33"> <h2>Address</h2> </div>   <div class="col">{{item.building_name}}</div>
              </div>
              <!--<div class="row" ng-show="showsMore">-->
                  <!--<div class="col col-33"> <h2>Landmark</h2> </div>   <div class="col">{{item.landmark}}</div>-->
              <!--</div>-->
              <div class="row">
                  <div class="col col-33"> <h2>State</h2> </div>   <div class="col">{{item.state}}</div>
              </div>
              <!--<div class="row" ng-show="showsMore">-->
                  <!--<div class="col col-33"> <h2>District</h2> </div>   <div class="col">{{item.district}}</div>-->
              <!--</div>-->
              <div class="row">
                  <div class="col col-33"> <h2>City</h2> </div>   <div class="col"> {{item.city}}</div>
              </div>
              <!--<div class="row" ng-show="showsMore">-->
                  <!--<div class="col col-33"> <h2>Area</h2> </div>   <div class="col">{{item.area}}</div>-->
              <!--</div>-->
              <!--<div class="row" ng-show="showsMore">-->
                  <!--<div class="col col-33"> <h2>Pincode</h2> </div>   <div class="col">{{item.pincode}}</div>-->
              <!--</div>-->
              <div class="row">
                  <div class="col col-33"> <h2>Mobile 1</h2> </div>   <div class="col"> {{item.mobile_1}}</div>
              </div>
              <!--<div class="row" ng-show="showsMore">-->
                  <!--<div class="col col-33"> <h2>Mobile 2</h2> </div>   <div class="col">{{item.mobile_2}}</div>-->
              <!--</div>-->
              <!--<div class="row" ng-show="showsMore">-->
                  <!--<div class="col col-33"> <h2>landline</h2> </div>   <div class="col"> {{item.landline}}</div>-->
              <!--</div>-->
              <!--<div class="row" ng-show="showsMore">-->
                  <!--<div class="col col-33"> <h2>email</h2> </div>   <div class="col">{{item.email}}</div>-->
              <!--</div>-->
              <!--<div class="row" ng-show="showsMore">-->
                  <!--<div class="col col-33"> <h2>Shop Size </h2> </div>   <div class="col">{{item.shop_size}}</div>-->
              <!--</div>-->
              <!--<div class="row" ng-show="showsMore">-->
                  <!--<div class="col col-33"> <h2>TIN </h2> </div>   <div class="col">{{item.tin}}</div>-->
              <!--</div>-->
              <!--<div class="row" ng-show="showsMore">-->
                  <!--<div class="col col-33"> <h2>Date Of Birth </h2> </div>   <div class="col">{{item.dob | date:'MM/dd/yyyy'}}</div>-->
              <!--</div>-->
              <!--<div class="row" ng-show="showsMore">-->
                  <!--<div class="col col-33"> <h2>Smartphone</h2> </div>   <div class="col">{{item.smartphone}}</div>-->
              <!--</div>-->
              <!--<div class="row" ng-show="showsMore">-->
                  <!--<div class="col col-33"> <h2>Competition</h2> </div>   <div class="col">{{item.website}}</div>-->
              <!--</div>-->
              <!--<div class="row" ng-show="showsMore">-->
                  <!--<div class="col col-33"> <h2>Remarks</h2> </div>   <div class="col">{{item.competition}}</div>-->
              <!--</div>-->
              <div class="row">
                  <div class="col-50">
                      <button class="button icon  button-block  button-outline button-calm" ng-click="showMoreDetails(item.row_id)"> Show More</button>
                  </div>
                  &nbsp;
                  <div class="col-50">
                      <button class="button icon  button-block  button-outline button-calm" ng-click="uploadRecord(item.row_id)" ng-disabled="item.upload_status"> Upload Records </button>
                  </div>
              </div>

          </div>


         </ion-item>

          </ion-list>
      </ion-content>

</ion-view>
