<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title= "Dashboard" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Kyc Add" icon-off="ion-plus-circled" icon-on="ion-plus-circled" href="#/tab/kycadd">
    <ion-nav-view name="tab-kycadd"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Kyc View" icon-off="ion-eye" icon-on="ion-eye" href="#/tab/kycview">
    <ion-nav-view name="tab-kycview"></ion-nav-view>
  </ion-tab>


</ion-tabs>
