<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
 <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'"/>
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
      <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
      <script src="js/jquery-1.12.1.min.js"></script>
      <script src="js/angular-messages.js"></script>
      <script src="js/controllers/kycAddCtrl.js"></script>
      <script src="js/controllers/kycViewCtrl.js"></script>
      <script src="js/controllers/loginCtrl.js"></script>
      <script src="js/controllers/dashBoardCtrl.js"></script>
      <script src="js/controllers/editCtrl.js"></script>
    <script src="js/services/services.js"></script>

  </head>
  <body ng-app="kyc">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar-stable" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>
        <!--<ion-nav-buttons side="right">-->
            <!--<button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>-->
        <!--</ion-nav-buttons>-->
    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view>  </ion-nav-view>
  </body>
</html>
